
body {
  background: black;
}

.header {
  background-image: url(https://unsplash.com/photos/gOdavfpH-3s);
  height: 400px:
  background-position: center center;
}
h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.status {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px
}

.name {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 50px
}

h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

hr {
  height:5px;
  width:8px;
  color:white;
}
