
body {
  background-color: black;
  background-image: url(https://images.unsplash.com/photo-1533135091724-62cc5402aa20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}

.header {
  background-image: url(https://images.unsplash.com/photo-1533135091724-62cc5402aa20?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-position: center;
}

h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-shadow: 4px 4px 10px black;
}

.status {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px
  text-shadow: 4px 4px 10px black;
}

.name {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 50px
  text-shadow: 4px 4px 10px black;
}

h4 {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  text-shadow: 4px 4px 10px black;
}

hr {
  height:5px;
  width:8px;
  color:white;
}
