
body {
  background: #353535;
}

h1 {
  color: #F4F4F4
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.status {
  color: #F4F4F4
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 30px
}

.name {
  color: #F4F4F4
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 50px
}

h4 {
  color: #F4F4F4
  font-family: 'Lato', sans-serif;
  text-align: center;
}

hr {
  height:5px;
  width:8px;
  color:#F4F4F4;
}
